body {
    background-color: blue;
}
.container {
    background-color: cadetblue;
    display: flex;
    justify-content: space-around;
}
p {
    width: 200px;
    height: 200px;
    background-color: aqua;
    font-size: 3em;
}